html {
    font-family: "Poppins";
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 1.4rem;
    transition: transform 0.5s ease;
    display: inline-block;
}

a:hover {
    transform: scale(1.3);
    /* phóng to 30% */
}

%btn-base {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 12px;
    background: #0F1B4C;
    text-align: center;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    background-color: #E6F0FF;
    height: 100vh;
    padding-top: 38px;

    .content {
        display: flex;
        position: relative;

        .mobile-menu-ico {
            display: none;
            width: 35px;
            height: 35px;
            border-radius: 50%;

        }

        .logo {
            margin-right: 50px;
        }

        .navigator {
            display: flex;
            flex: 1;
            align-items: center;

            ul {
                display: flex;
            }

            li {
                padding: 14px;

                a {
                    color: #4F5361;
                    font-weight: 500;
                }
            }
        }

        .account {
            min-width: 170px;
            margin-left: auto;

            .signIn-link {
                color: #0F1B4C;
                font-weight: 500;
                margin-right: 18px;
            }

            .btn-su {
                @extend %btn-base;
                padding: 13px 16px;
                color: #FFF;
                text-align: center;
                font-weight: 500;
            }
        }

        .mobile-user {
            display: none;
            width: 35px;
            height: 35px;
        }

    }



}

//PC
@media screen and (min-width:992px) {}

//Tablet & mobile
@media screen and (max-width:991.9999px) {
    .page-header {
        .content {
            .mobile-menu-ico {
                display: block;

                &:hover~.navigator {
                    transform: translateX(0px);
                }
            }

            .logo {
                margin-left: auto;
                margin-right: auto;
            }

            .navigator {
                position: absolute;
                flex-direction: column;
                width: 35%;
                top: 35px;
                left: 0;
                border-radius: 10px;
                background-color: rgb(201 218 246);
                transition: transform 0.5s ease;
                transform: translateX(calc(-100% - 24px));

                ul {
                    flex-direction: column;
                }

                &:hover {
                    transform: translateX(0px);
                }
            }

            .account {
                display: none;
                flex-direction: column;
                position: absolute;
                width: 25%;
                top: 35px;
                right: 0;
                border-radius: 10px;
                background-color: rgb(201 218 246);
                // transition: transform 0.5s ease;
                // transform: translateX(calc(100% + 24px));

                &:has(+ .mobile-user:hover) {
                    //transform: translateX(0);
                    display: flex;
                }

                .btn-su,
                .signIn-link {
                    margin: 0;
                    padding: 14px;
                    text-align: center;
                    background: transparent;
                    color: #0F1B4C;
                    font-weight: 500;
                }

                &:hover {
                    //transform: translateX(0);
                    display: flex;
                }
            }

            .mobile-user {
                display: block;
            }
        }
    }
}

//Tablet
@media screen and (min-width:768px) and (max-width:991.9999px) {}

//Mobile
@media screen and (max-width:767.9999px) {}