html {
    font-family: "Poppins";
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 1.4rem;
    transition: transform 0.5s ease;
    display: inline-block;
}

a:hover {
    transform: scale(1.2);
    /* phóng to 30% */
}

%btn-base {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 12px;
    background: #0F1B4C;
    text-align: center;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    background-color: #E6F0FF;
    padding-top: 38px;

    .page-nav {
        display: flex;
        position: relative;
        flex-wrap: wrap;

        .mobile-menu-ico {
            display: none;
            width: 35px;
            height: 35px;
            border-radius: 50%;

        }

        .logo {
            margin-right: 50px;
        }

        .navigator {
            display: flex;
            flex: 1;
            align-items: center;

            ul {
                display: flex;
            }

            li {
                padding: 14px;

                a {
                    color: #4F5361;
                    font-weight: 500;
                }
            }
        }

        .account {
            // min-width: 170px;
            margin-left: auto;

            .signIn-link {
                color: #0F1B4C;
                font-weight: 500;
                margin-right: 18px;
            }

            .btn-su {
                @extend %btn-base;
                padding: 13px 16px;
                color: #FFF;
                text-align: center;
                font-weight: 500;
            }
        }

        .mobile-user {
            display: none;
            width: 35px;
            height: 35px;
        }

    }

    .head-content {
        position: relative;

        * {
            width: 50%;
        }

        .sub-title {
            padding-top: 138px;
            margin-bottom: 8px;
            color: #687690;
            font-size: 1.8rem;
            font-weight: 500;
            letter-spacing: 0.018rem;
        }

        .title {
            color: #000336;
            font-size: 6.3rem;
            font-weight: 700;
            line-height: 7.6rem;
        }

        .desc {
            margin-top: 30px;
            margin-bottom: 40px;
            color: #5A6473;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 3.2rem;
            text-transform: lowercase;
        }

        .img-house {
            position: absolute;
            height: 100%;
            bottom: 0px;
            right: 0px;


            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }

        .btn-more {
            width: 170px;
            height: 50px;
            color: #FFF;
            font-size: 1.3rem;
            font-weight: 500;
            margin-bottom: 157px;
            @extend %btn-base
        }
    }

}

.clients {
    margin-top: 122px;
    padding-bottom: 40px;

    .content {
        position: relative;
    }

    .desc {
        .text {
            margin-top: 23px;
            color: #7D8589;
            font-weight: 500;
            line-height: 2rem;

        }

        &:last-child {
            position: absolute;
            top: 0px;
            right: 0px;

            .icon {
                display: block;
                margin-left: auto;
            }

            .text {
                margin-top: 30px;
            }
        }
    }

    .clients-logo {
        display: flex;
        justify-content: space-between;
        height: 109px;
        //align-items: center;
        /* căn giữa dọc */
        overflow-x: auto;
        /* hiện cuộn ngang khi tràn */
        overflow-y: hidden;
        /* ẩn cuộn dọc */
        flex-wrap: nowrap;

        img {
            //flex: 0 0 auto;
            // display: inline;
            // //display: inline-block;
            width: 170px;

            // //max-width: calc(100% + 20px);
            object-fit: none;

            border-radius: 1.2rem;
            margin: 10px;

            &:hover {
                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.10);
            }
        }
    }

}

.guides {
    padding-top: 79px;

    .title {
        position: relative;
        color: #000339;
        text-align: center;
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 3.5rem;

        &::before {
            display: inline-block;
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            width: 41px;
            height: 4px;
            border-radius: 1.2rem;
            background: #000339;
        }
    }

    .desc {
        max-width: 459px;
        color: #5A6473;
        text-align: center;
        margin: 20px auto 70px;
        font-weight: 400;
        line-height: 3rem;
        /* 187.5% */
    }

    .items-guides {
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;

        padding-bottom: 20px;

        .item {
            min-width: 150px;
        }

        .ico-guide {
            display: block;
            margin: 0 auto 0;
        }

        .guide-name {
            color: #3B3C45;
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
            line-height: 2.2rem;
            margin: 26px 0px 10px;
            /* 110% */
        }

        .link-guide {
            display: block;
            max-width: 0 auto 0;
            color: #0689FF;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 600;
        }
    }

    .cell-full-guidelines {
        width: 170px;
        height: 50px;
        @extend %btn-base;
        display: block;
        margin: 30px auto 120px;
        color: #FFF;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 500;
    }
}

.featured {
    background-color: #F5FAFE;

    .content {
        padding: 110px 0px;
    }

    .title {
        color: #000339;
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 3.5rem;
        /* 100% */
    }

    .desc-view {
        display: flex;
        justify-content: space-between;
        margin: 11px 0px;

        flex-wrap: wrap;

        .desc {
            white-space: nowrap;
            /* Không cho xuống hàng */
            overflow: hidden;
            /* Ẩn phần bị tràn */
            text-overflow: ellipsis;
            /* Hiện dấu ... */
        }

        .view-all {
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .desc {
        display: inline-block;
        color: #5A6473;
        font-weight: 400;
        line-height: 3rem;
        /* 187.5% */
    }

    .view-all {
        display: inline-block;
        color: #0689FF;
        text-align: right;
        font-size: 1.8rem;
        font-weight: 600;
    }

    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 16px;

        .card {
            min-width: 350px;
            height: auto;
            border-radius: 12px;
            background-color: #FFF;
            box-shadow: 0 65px 80px -46px rgba(226, 238, 249, 0.60);
            overflow: hidden;

            .image {
                width: 100%;
                height: 227px;
                object-fit: cover;
                object-position: bottom;
                /* căn giữa ảnh */
            }

            .card-title {
                color: #000339;
                font-size: 2rem;
                font-weight: 600;
                line-height: 2rem;
                /* 100% */
                margin: 17px 38px 11px 20px;

            }

            .card-desc {
                color: #A3A6AB;
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-left: 20px;
                margin-right: 38px;
            }

            .bed-both {
                display: flex;
                justify-content: space-between;
                margin: 23px 38px 23px 20px;


                .text {
                    display: inline;
                    margin-left: 8px;
                    color: #4D4D52;
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 1.4rem;
                    /* 100% */
                    letter-spacing: 0.014rem;
                }
            }
        }
    }
}







//PC
@media screen and (min-width:992px) {}

//Tablet & mobile
@media screen and (max-width:991.9999px) {
    .page-header {
        .page-nav {
            .mobile-menu-ico {
                display: block;

                &:hover~.navigator {
                    transform: translateX(0px);
                }
            }

            .logo {
                margin-left: auto;
                margin-right: auto;
            }

            .navigator {
                position: absolute;
                flex-direction: column;
                z-index: 1;
                width: 35%;
                top: 35px;
                left: 0;
                border-radius: 10px;
                background-color: rgb(201 218 246);
                transition: transform 0.5s ease;
                transform: translateX(calc(-100% - 24px));

                ul {
                    flex-direction: column;
                }

                &:hover {
                    transform: translateX(0px);
                }
            }

            .account {
                display: flex;
                flex-direction: column;
                position: absolute;
                overflow: hidden;
                width: 0%;

                top: 35px;
                right: 0;
                border-radius: 10px;
                background-color: rgb(201 218 246);
                transition: width 0.5s ease;

                &:has(+ .mobile-user:hover) {
                    width: 30%;
                }

                .btn-su,
                .signIn-link {
                    margin: 0;
                    padding: 14px;
                    text-align: center;
                    background: transparent;
                    color: #0F1B4C;
                    font-weight: 500;
                }

                &:hover {
                    width: 30%;
                }
            }

            .mobile-user {
                display: block;
            }
        }

        .head-content {
            * {
                width: 100%;
            }

            .sub-title {
                padding-top: 50px;
            }

            .title {
                font-size: 3.5rem;
                line-height: 5rem;
                margin-bottom: 25px;
            }

            .img-house {
                position: static;
            }

            .desc {
                margin-bottom: 30px;
            }

            .btn-more {
                margin-bottom: 30px;
            }

        }
    }
}

//Tablet
@media screen and (min-width:768px) and (max-width:991.9999px) {
    html {
        font-size: 62.5%;
    }

    .page-header {
        .head-content {
            .sub-title {
                padding-top: 70px;
            }

            .title {
                margin-top: 20px;
                margin-bottom: 40px;
            }

            .btn-more {
                margin-bottom: 80px;
            }
        }
    }
}

//Mobile
@media screen and (max-width:767.9999px) {
    .clients {
        .desc {
            .text {
                margin-top: 10px;
            }

            &:last-child {
                position: static;
                padding-top: 20px;

                .icon {
                    margin-left: 0;
                }

                .text {
                    margin-top: 10px;
                }
            }
        }
    }

    .featured {

        .cards {
            .card {
                min-width: 100%;
            }
        }
    }
}