/* Container */
.gs-container-fluid, .gs-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  --gutters-x: 0px;
  --gutters-y: 0px;
}

[class^=gs-container] > .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gutters-x) * -0.5);
  margin-right: calc(var(--gutters-x) * -0.5);
  margin-top: calc(var(--gutters-y) * -1);
}
[class^=gs-container] > .row[class*=-row-cols-] > *,
[class^=gs-container] > .row [class*=-col-] {
  flex: 0 0 auto;
  padding-left: calc(var(--gutters-x) * 0.5);
  padding-right: calc(var(--gutters-x) * 0.5);
  padding-top: var(--gutters-y);
}

@media (min-width: 0) {
  .gs-container {
    max-width: 100%;
  }
  [class^=gs-container] > .row > .xs-col-1 {
    width: 8.3333333333%;
  }
  [class^=gs-container] > .row > .xs-col-2 {
    width: 16.6666666667%;
  }
  [class^=gs-container] > .row > .xs-col-3 {
    width: 25%;
  }
  [class^=gs-container] > .row > .xs-col-4 {
    width: 33.3333333333%;
  }
  [class^=gs-container] > .row > .xs-col-5 {
    width: 41.6666666667%;
  }
  [class^=gs-container] > .row > .xs-col-6 {
    width: 50%;
  }
  [class^=gs-container] > .row > .xs-col-7 {
    width: 58.3333333333%;
  }
  [class^=gs-container] > .row > .xs-col-8 {
    width: 66.6666666667%;
  }
  [class^=gs-container] > .row > .xs-col-9 {
    width: 75%;
  }
  [class^=gs-container] > .row > .xs-col-10 {
    width: 83.3333333333%;
  }
  [class^=gs-container] > .row > .xs-col-11 {
    width: 91.6666666667%;
  }
  [class^=gs-container] > .row > .xs-col-12 {
    width: 100%;
  }
  [class^=gs-container] > .xs-row-cols-1 > * {
    width: 100%;
  }
  [class^=gs-container] > .xs-row-cols-2 > * {
    width: 50%;
  }
  [class^=gs-container] > .xs-row-cols-3 > * {
    width: 33.3333333333%;
  }
  [class^=gs-container] > .xs-row-cols-4 > * {
    width: 25%;
  }
  [class^=gs-container] > .xs-row-cols-5 > * {
    width: 20%;
  }
  [class^=gs-container] > .xs-row-cols-6 > * {
    width: 16.6666666667%;
  }
  [class^=gs-container] > .xs-row-cols-7 > * {
    width: 14.2857142857%;
  }
  [class^=gs-container] > .xs-row-cols-8 > * {
    width: 12.5%;
  }
  [class^=gs-container] > .xs-row-cols-9 > * {
    width: 11.1111111111%;
  }
  [class^=gs-container] > .xs-row-cols-10 > * {
    width: 10%;
  }
  [class^=gs-container] > .xs-row-cols-11 > * {
    width: 9.0909090909%;
  }
  [class^=gs-container] > .xs-row-cols-12 > * {
    width: 8.3333333333%;
  }
  [class^=gs-container] > .row > .xs-offset-0 {
    margin-left: 0%;
  }
  [class^=gs-container] > .row > .xs-offset-1 {
    margin-left: 8.3333333333%;
  }
  [class^=gs-container] > .row > .xs-offset-2 {
    margin-left: 16.6666666667%;
  }
  [class^=gs-container] > .row > .xs-offset-3 {
    margin-left: 25%;
  }
  [class^=gs-container] > .row > .xs-offset-4 {
    margin-left: 33.3333333333%;
  }
  [class^=gs-container] > .row > .xs-offset-5 {
    margin-left: 41.6666666667%;
  }
  [class^=gs-container] > .row > .xs-offset-6 {
    margin-left: 50%;
  }
  [class^=gs-container] > .row > .xs-offset-7 {
    margin-left: 58.3333333333%;
  }
  [class^=gs-container] > .row > .xs-offset-8 {
    margin-left: 66.6666666667%;
  }
  [class^=gs-container] > .row > .xs-offset-9 {
    margin-left: 75%;
  }
  [class^=gs-container] > .row > .xs-offset-10 {
    margin-left: 83.3333333333%;
  }
  [class^=gs-container] > .row > .xs-offset-11 {
    margin-left: 91.6666666667%;
  }
  [class^=gs-container] > .xs-gutterX-0 {
    --gutters-x: 0;
  }
  [class^=gs-container] > .xs-gutterX-1 {
    --gutters-x: 5px;
  }
  [class^=gs-container] > .xs-gutterX-2 {
    --gutters-x: 10px;
  }
  [class^=gs-container] > .xs-gutterX-3 {
    --gutters-x: 20px;
  }
  [class^=gs-container] > .xs-gutterX-4 {
    --gutters-x: 30px;
  }
  [class^=gs-container] > .xs-gutterX-5 {
    --gutters-x: 60px;
  }
  [class^=gs-container] > .xs-gutterY-0 {
    --gutters-y: 0;
  }
  [class^=gs-container] > .xs-gutterY-1 {
    --gutters-y: 5px;
  }
  [class^=gs-container] > .xs-gutterY-2 {
    --gutters-y: 10px;
  }
  [class^=gs-container] > .xs-gutterY-3 {
    --gutters-y: 20px;
  }
  [class^=gs-container] > .xs-gutterY-4 {
    --gutters-y: 30px;
  }
  [class^=gs-container] > .xs-gutterY-5 {
    --gutters-y: 60px;
  }
}
@media (min-width: 576px) {
  .gs-container {
    max-width: 540px;
  }
  [class^=gs-container] > .row > .sm-col-1 {
    width: 8.3333333333%;
  }
  [class^=gs-container] > .row > .sm-col-2 {
    width: 16.6666666667%;
  }
  [class^=gs-container] > .row > .sm-col-3 {
    width: 25%;
  }
  [class^=gs-container] > .row > .sm-col-4 {
    width: 33.3333333333%;
  }
  [class^=gs-container] > .row > .sm-col-5 {
    width: 41.6666666667%;
  }
  [class^=gs-container] > .row > .sm-col-6 {
    width: 50%;
  }
  [class^=gs-container] > .row > .sm-col-7 {
    width: 58.3333333333%;
  }
  [class^=gs-container] > .row > .sm-col-8 {
    width: 66.6666666667%;
  }
  [class^=gs-container] > .row > .sm-col-9 {
    width: 75%;
  }
  [class^=gs-container] > .row > .sm-col-10 {
    width: 83.3333333333%;
  }
  [class^=gs-container] > .row > .sm-col-11 {
    width: 91.6666666667%;
  }
  [class^=gs-container] > .row > .sm-col-12 {
    width: 100%;
  }
  [class^=gs-container] > .sm-row-cols-1 > * {
    width: 100%;
  }
  [class^=gs-container] > .sm-row-cols-2 > * {
    width: 50%;
  }
  [class^=gs-container] > .sm-row-cols-3 > * {
    width: 33.3333333333%;
  }
  [class^=gs-container] > .sm-row-cols-4 > * {
    width: 25%;
  }
  [class^=gs-container] > .sm-row-cols-5 > * {
    width: 20%;
  }
  [class^=gs-container] > .sm-row-cols-6 > * {
    width: 16.6666666667%;
  }
  [class^=gs-container] > .sm-row-cols-7 > * {
    width: 14.2857142857%;
  }
  [class^=gs-container] > .sm-row-cols-8 > * {
    width: 12.5%;
  }
  [class^=gs-container] > .sm-row-cols-9 > * {
    width: 11.1111111111%;
  }
  [class^=gs-container] > .sm-row-cols-10 > * {
    width: 10%;
  }
  [class^=gs-container] > .sm-row-cols-11 > * {
    width: 9.0909090909%;
  }
  [class^=gs-container] > .sm-row-cols-12 > * {
    width: 8.3333333333%;
  }
  [class^=gs-container] > .row > .sm-offset-0 {
    margin-left: 0%;
  }
  [class^=gs-container] > .row > .sm-offset-1 {
    margin-left: 8.3333333333%;
  }
  [class^=gs-container] > .row > .sm-offset-2 {
    margin-left: 16.6666666667%;
  }
  [class^=gs-container] > .row > .sm-offset-3 {
    margin-left: 25%;
  }
  [class^=gs-container] > .row > .sm-offset-4 {
    margin-left: 33.3333333333%;
  }
  [class^=gs-container] > .row > .sm-offset-5 {
    margin-left: 41.6666666667%;
  }
  [class^=gs-container] > .row > .sm-offset-6 {
    margin-left: 50%;
  }
  [class^=gs-container] > .row > .sm-offset-7 {
    margin-left: 58.3333333333%;
  }
  [class^=gs-container] > .row > .sm-offset-8 {
    margin-left: 66.6666666667%;
  }
  [class^=gs-container] > .row > .sm-offset-9 {
    margin-left: 75%;
  }
  [class^=gs-container] > .row > .sm-offset-10 {
    margin-left: 83.3333333333%;
  }
  [class^=gs-container] > .row > .sm-offset-11 {
    margin-left: 91.6666666667%;
  }
  [class^=gs-container] > .sm-gutterX-0 {
    --gutters-x: 0;
  }
  [class^=gs-container] > .sm-gutterX-1 {
    --gutters-x: 5px;
  }
  [class^=gs-container] > .sm-gutterX-2 {
    --gutters-x: 10px;
  }
  [class^=gs-container] > .sm-gutterX-3 {
    --gutters-x: 20px;
  }
  [class^=gs-container] > .sm-gutterX-4 {
    --gutters-x: 30px;
  }
  [class^=gs-container] > .sm-gutterX-5 {
    --gutters-x: 60px;
  }
  [class^=gs-container] > .sm-gutterY-0 {
    --gutters-y: 0;
  }
  [class^=gs-container] > .sm-gutterY-1 {
    --gutters-y: 5px;
  }
  [class^=gs-container] > .sm-gutterY-2 {
    --gutters-y: 10px;
  }
  [class^=gs-container] > .sm-gutterY-3 {
    --gutters-y: 20px;
  }
  [class^=gs-container] > .sm-gutterY-4 {
    --gutters-y: 30px;
  }
  [class^=gs-container] > .sm-gutterY-5 {
    --gutters-y: 60px;
  }
}
@media (min-width: 768px) {
  .gs-container {
    max-width: 720px;
  }
  [class^=gs-container] > .row > .md-col-1 {
    width: 8.3333333333%;
  }
  [class^=gs-container] > .row > .md-col-2 {
    width: 16.6666666667%;
  }
  [class^=gs-container] > .row > .md-col-3 {
    width: 25%;
  }
  [class^=gs-container] > .row > .md-col-4 {
    width: 33.3333333333%;
  }
  [class^=gs-container] > .row > .md-col-5 {
    width: 41.6666666667%;
  }
  [class^=gs-container] > .row > .md-col-6 {
    width: 50%;
  }
  [class^=gs-container] > .row > .md-col-7 {
    width: 58.3333333333%;
  }
  [class^=gs-container] > .row > .md-col-8 {
    width: 66.6666666667%;
  }
  [class^=gs-container] > .row > .md-col-9 {
    width: 75%;
  }
  [class^=gs-container] > .row > .md-col-10 {
    width: 83.3333333333%;
  }
  [class^=gs-container] > .row > .md-col-11 {
    width: 91.6666666667%;
  }
  [class^=gs-container] > .row > .md-col-12 {
    width: 100%;
  }
  [class^=gs-container] > .md-row-cols-1 > * {
    width: 100%;
  }
  [class^=gs-container] > .md-row-cols-2 > * {
    width: 50%;
  }
  [class^=gs-container] > .md-row-cols-3 > * {
    width: 33.3333333333%;
  }
  [class^=gs-container] > .md-row-cols-4 > * {
    width: 25%;
  }
  [class^=gs-container] > .md-row-cols-5 > * {
    width: 20%;
  }
  [class^=gs-container] > .md-row-cols-6 > * {
    width: 16.6666666667%;
  }
  [class^=gs-container] > .md-row-cols-7 > * {
    width: 14.2857142857%;
  }
  [class^=gs-container] > .md-row-cols-8 > * {
    width: 12.5%;
  }
  [class^=gs-container] > .md-row-cols-9 > * {
    width: 11.1111111111%;
  }
  [class^=gs-container] > .md-row-cols-10 > * {
    width: 10%;
  }
  [class^=gs-container] > .md-row-cols-11 > * {
    width: 9.0909090909%;
  }
  [class^=gs-container] > .md-row-cols-12 > * {
    width: 8.3333333333%;
  }
  [class^=gs-container] > .row > .md-offset-0 {
    margin-left: 0%;
  }
  [class^=gs-container] > .row > .md-offset-1 {
    margin-left: 8.3333333333%;
  }
  [class^=gs-container] > .row > .md-offset-2 {
    margin-left: 16.6666666667%;
  }
  [class^=gs-container] > .row > .md-offset-3 {
    margin-left: 25%;
  }
  [class^=gs-container] > .row > .md-offset-4 {
    margin-left: 33.3333333333%;
  }
  [class^=gs-container] > .row > .md-offset-5 {
    margin-left: 41.6666666667%;
  }
  [class^=gs-container] > .row > .md-offset-6 {
    margin-left: 50%;
  }
  [class^=gs-container] > .row > .md-offset-7 {
    margin-left: 58.3333333333%;
  }
  [class^=gs-container] > .row > .md-offset-8 {
    margin-left: 66.6666666667%;
  }
  [class^=gs-container] > .row > .md-offset-9 {
    margin-left: 75%;
  }
  [class^=gs-container] > .row > .md-offset-10 {
    margin-left: 83.3333333333%;
  }
  [class^=gs-container] > .row > .md-offset-11 {
    margin-left: 91.6666666667%;
  }
  [class^=gs-container] > .md-gutterX-0 {
    --gutters-x: 0;
  }
  [class^=gs-container] > .md-gutterX-1 {
    --gutters-x: 5px;
  }
  [class^=gs-container] > .md-gutterX-2 {
    --gutters-x: 10px;
  }
  [class^=gs-container] > .md-gutterX-3 {
    --gutters-x: 20px;
  }
  [class^=gs-container] > .md-gutterX-4 {
    --gutters-x: 30px;
  }
  [class^=gs-container] > .md-gutterX-5 {
    --gutters-x: 60px;
  }
  [class^=gs-container] > .md-gutterY-0 {
    --gutters-y: 0;
  }
  [class^=gs-container] > .md-gutterY-1 {
    --gutters-y: 5px;
  }
  [class^=gs-container] > .md-gutterY-2 {
    --gutters-y: 10px;
  }
  [class^=gs-container] > .md-gutterY-3 {
    --gutters-y: 20px;
  }
  [class^=gs-container] > .md-gutterY-4 {
    --gutters-y: 30px;
  }
  [class^=gs-container] > .md-gutterY-5 {
    --gutters-y: 60px;
  }
}
@media (min-width: 992px) {
  .gs-container {
    max-width: 960px;
  }
  [class^=gs-container] > .row > .lg-col-1 {
    width: 8.3333333333%;
  }
  [class^=gs-container] > .row > .lg-col-2 {
    width: 16.6666666667%;
  }
  [class^=gs-container] > .row > .lg-col-3 {
    width: 25%;
  }
  [class^=gs-container] > .row > .lg-col-4 {
    width: 33.3333333333%;
  }
  [class^=gs-container] > .row > .lg-col-5 {
    width: 41.6666666667%;
  }
  [class^=gs-container] > .row > .lg-col-6 {
    width: 50%;
  }
  [class^=gs-container] > .row > .lg-col-7 {
    width: 58.3333333333%;
  }
  [class^=gs-container] > .row > .lg-col-8 {
    width: 66.6666666667%;
  }
  [class^=gs-container] > .row > .lg-col-9 {
    width: 75%;
  }
  [class^=gs-container] > .row > .lg-col-10 {
    width: 83.3333333333%;
  }
  [class^=gs-container] > .row > .lg-col-11 {
    width: 91.6666666667%;
  }
  [class^=gs-container] > .row > .lg-col-12 {
    width: 100%;
  }
  [class^=gs-container] > .lg-row-cols-1 > * {
    width: 100%;
  }
  [class^=gs-container] > .lg-row-cols-2 > * {
    width: 50%;
  }
  [class^=gs-container] > .lg-row-cols-3 > * {
    width: 33.3333333333%;
  }
  [class^=gs-container] > .lg-row-cols-4 > * {
    width: 25%;
  }
  [class^=gs-container] > .lg-row-cols-5 > * {
    width: 20%;
  }
  [class^=gs-container] > .lg-row-cols-6 > * {
    width: 16.6666666667%;
  }
  [class^=gs-container] > .lg-row-cols-7 > * {
    width: 14.2857142857%;
  }
  [class^=gs-container] > .lg-row-cols-8 > * {
    width: 12.5%;
  }
  [class^=gs-container] > .lg-row-cols-9 > * {
    width: 11.1111111111%;
  }
  [class^=gs-container] > .lg-row-cols-10 > * {
    width: 10%;
  }
  [class^=gs-container] > .lg-row-cols-11 > * {
    width: 9.0909090909%;
  }
  [class^=gs-container] > .lg-row-cols-12 > * {
    width: 8.3333333333%;
  }
  [class^=gs-container] > .row > .lg-offset-0 {
    margin-left: 0%;
  }
  [class^=gs-container] > .row > .lg-offset-1 {
    margin-left: 8.3333333333%;
  }
  [class^=gs-container] > .row > .lg-offset-2 {
    margin-left: 16.6666666667%;
  }
  [class^=gs-container] > .row > .lg-offset-3 {
    margin-left: 25%;
  }
  [class^=gs-container] > .row > .lg-offset-4 {
    margin-left: 33.3333333333%;
  }
  [class^=gs-container] > .row > .lg-offset-5 {
    margin-left: 41.6666666667%;
  }
  [class^=gs-container] > .row > .lg-offset-6 {
    margin-left: 50%;
  }
  [class^=gs-container] > .row > .lg-offset-7 {
    margin-left: 58.3333333333%;
  }
  [class^=gs-container] > .row > .lg-offset-8 {
    margin-left: 66.6666666667%;
  }
  [class^=gs-container] > .row > .lg-offset-9 {
    margin-left: 75%;
  }
  [class^=gs-container] > .row > .lg-offset-10 {
    margin-left: 83.3333333333%;
  }
  [class^=gs-container] > .row > .lg-offset-11 {
    margin-left: 91.6666666667%;
  }
  [class^=gs-container] > .lg-gutterX-0 {
    --gutters-x: 0;
  }
  [class^=gs-container] > .lg-gutterX-1 {
    --gutters-x: 5px;
  }
  [class^=gs-container] > .lg-gutterX-2 {
    --gutters-x: 10px;
  }
  [class^=gs-container] > .lg-gutterX-3 {
    --gutters-x: 20px;
  }
  [class^=gs-container] > .lg-gutterX-4 {
    --gutters-x: 30px;
  }
  [class^=gs-container] > .lg-gutterX-5 {
    --gutters-x: 60px;
  }
  [class^=gs-container] > .lg-gutterY-0 {
    --gutters-y: 0;
  }
  [class^=gs-container] > .lg-gutterY-1 {
    --gutters-y: 5px;
  }
  [class^=gs-container] > .lg-gutterY-2 {
    --gutters-y: 10px;
  }
  [class^=gs-container] > .lg-gutterY-3 {
    --gutters-y: 20px;
  }
  [class^=gs-container] > .lg-gutterY-4 {
    --gutters-y: 30px;
  }
  [class^=gs-container] > .lg-gutterY-5 {
    --gutters-y: 60px;
  }
}
@media (min-width: 1200px) {
  .gs-container {
    max-width: 1140px;
  }
  [class^=gs-container] > .row > .xl-col-1 {
    width: 8.3333333333%;
  }
  [class^=gs-container] > .row > .xl-col-2 {
    width: 16.6666666667%;
  }
  [class^=gs-container] > .row > .xl-col-3 {
    width: 25%;
  }
  [class^=gs-container] > .row > .xl-col-4 {
    width: 33.3333333333%;
  }
  [class^=gs-container] > .row > .xl-col-5 {
    width: 41.6666666667%;
  }
  [class^=gs-container] > .row > .xl-col-6 {
    width: 50%;
  }
  [class^=gs-container] > .row > .xl-col-7 {
    width: 58.3333333333%;
  }
  [class^=gs-container] > .row > .xl-col-8 {
    width: 66.6666666667%;
  }
  [class^=gs-container] > .row > .xl-col-9 {
    width: 75%;
  }
  [class^=gs-container] > .row > .xl-col-10 {
    width: 83.3333333333%;
  }
  [class^=gs-container] > .row > .xl-col-11 {
    width: 91.6666666667%;
  }
  [class^=gs-container] > .row > .xl-col-12 {
    width: 100%;
  }
  [class^=gs-container] > .xl-row-cols-1 > * {
    width: 100%;
  }
  [class^=gs-container] > .xl-row-cols-2 > * {
    width: 50%;
  }
  [class^=gs-container] > .xl-row-cols-3 > * {
    width: 33.3333333333%;
  }
  [class^=gs-container] > .xl-row-cols-4 > * {
    width: 25%;
  }
  [class^=gs-container] > .xl-row-cols-5 > * {
    width: 20%;
  }
  [class^=gs-container] > .xl-row-cols-6 > * {
    width: 16.6666666667%;
  }
  [class^=gs-container] > .xl-row-cols-7 > * {
    width: 14.2857142857%;
  }
  [class^=gs-container] > .xl-row-cols-8 > * {
    width: 12.5%;
  }
  [class^=gs-container] > .xl-row-cols-9 > * {
    width: 11.1111111111%;
  }
  [class^=gs-container] > .xl-row-cols-10 > * {
    width: 10%;
  }
  [class^=gs-container] > .xl-row-cols-11 > * {
    width: 9.0909090909%;
  }
  [class^=gs-container] > .xl-row-cols-12 > * {
    width: 8.3333333333%;
  }
  [class^=gs-container] > .row > .xl-offset-0 {
    margin-left: 0%;
  }
  [class^=gs-container] > .row > .xl-offset-1 {
    margin-left: 8.3333333333%;
  }
  [class^=gs-container] > .row > .xl-offset-2 {
    margin-left: 16.6666666667%;
  }
  [class^=gs-container] > .row > .xl-offset-3 {
    margin-left: 25%;
  }
  [class^=gs-container] > .row > .xl-offset-4 {
    margin-left: 33.3333333333%;
  }
  [class^=gs-container] > .row > .xl-offset-5 {
    margin-left: 41.6666666667%;
  }
  [class^=gs-container] > .row > .xl-offset-6 {
    margin-left: 50%;
  }
  [class^=gs-container] > .row > .xl-offset-7 {
    margin-left: 58.3333333333%;
  }
  [class^=gs-container] > .row > .xl-offset-8 {
    margin-left: 66.6666666667%;
  }
  [class^=gs-container] > .row > .xl-offset-9 {
    margin-left: 75%;
  }
  [class^=gs-container] > .row > .xl-offset-10 {
    margin-left: 83.3333333333%;
  }
  [class^=gs-container] > .row > .xl-offset-11 {
    margin-left: 91.6666666667%;
  }
  [class^=gs-container] > .xl-gutterX-0 {
    --gutters-x: 0;
  }
  [class^=gs-container] > .xl-gutterX-1 {
    --gutters-x: 5px;
  }
  [class^=gs-container] > .xl-gutterX-2 {
    --gutters-x: 10px;
  }
  [class^=gs-container] > .xl-gutterX-3 {
    --gutters-x: 20px;
  }
  [class^=gs-container] > .xl-gutterX-4 {
    --gutters-x: 30px;
  }
  [class^=gs-container] > .xl-gutterX-5 {
    --gutters-x: 60px;
  }
  [class^=gs-container] > .xl-gutterY-0 {
    --gutters-y: 0;
  }
  [class^=gs-container] > .xl-gutterY-1 {
    --gutters-y: 5px;
  }
  [class^=gs-container] > .xl-gutterY-2 {
    --gutters-y: 10px;
  }
  [class^=gs-container] > .xl-gutterY-3 {
    --gutters-y: 20px;
  }
  [class^=gs-container] > .xl-gutterY-4 {
    --gutters-y: 30px;
  }
  [class^=gs-container] > .xl-gutterY-5 {
    --gutters-y: 60px;
  }
}
@media (min-width: 1400px) {
  .gs-container {
    max-width: 1320px;
  }
  [class^=gs-container] > .row > .xxl-col-1 {
    width: 8.3333333333%;
  }
  [class^=gs-container] > .row > .xxl-col-2 {
    width: 16.6666666667%;
  }
  [class^=gs-container] > .row > .xxl-col-3 {
    width: 25%;
  }
  [class^=gs-container] > .row > .xxl-col-4 {
    width: 33.3333333333%;
  }
  [class^=gs-container] > .row > .xxl-col-5 {
    width: 41.6666666667%;
  }
  [class^=gs-container] > .row > .xxl-col-6 {
    width: 50%;
  }
  [class^=gs-container] > .row > .xxl-col-7 {
    width: 58.3333333333%;
  }
  [class^=gs-container] > .row > .xxl-col-8 {
    width: 66.6666666667%;
  }
  [class^=gs-container] > .row > .xxl-col-9 {
    width: 75%;
  }
  [class^=gs-container] > .row > .xxl-col-10 {
    width: 83.3333333333%;
  }
  [class^=gs-container] > .row > .xxl-col-11 {
    width: 91.6666666667%;
  }
  [class^=gs-container] > .row > .xxl-col-12 {
    width: 100%;
  }
  [class^=gs-container] > .xxl-row-cols-1 > * {
    width: 100%;
  }
  [class^=gs-container] > .xxl-row-cols-2 > * {
    width: 50%;
  }
  [class^=gs-container] > .xxl-row-cols-3 > * {
    width: 33.3333333333%;
  }
  [class^=gs-container] > .xxl-row-cols-4 > * {
    width: 25%;
  }
  [class^=gs-container] > .xxl-row-cols-5 > * {
    width: 20%;
  }
  [class^=gs-container] > .xxl-row-cols-6 > * {
    width: 16.6666666667%;
  }
  [class^=gs-container] > .xxl-row-cols-7 > * {
    width: 14.2857142857%;
  }
  [class^=gs-container] > .xxl-row-cols-8 > * {
    width: 12.5%;
  }
  [class^=gs-container] > .xxl-row-cols-9 > * {
    width: 11.1111111111%;
  }
  [class^=gs-container] > .xxl-row-cols-10 > * {
    width: 10%;
  }
  [class^=gs-container] > .xxl-row-cols-11 > * {
    width: 9.0909090909%;
  }
  [class^=gs-container] > .xxl-row-cols-12 > * {
    width: 8.3333333333%;
  }
  [class^=gs-container] > .row > .xxl-offset-0 {
    margin-left: 0%;
  }
  [class^=gs-container] > .row > .xxl-offset-1 {
    margin-left: 8.3333333333%;
  }
  [class^=gs-container] > .row > .xxl-offset-2 {
    margin-left: 16.6666666667%;
  }
  [class^=gs-container] > .row > .xxl-offset-3 {
    margin-left: 25%;
  }
  [class^=gs-container] > .row > .xxl-offset-4 {
    margin-left: 33.3333333333%;
  }
  [class^=gs-container] > .row > .xxl-offset-5 {
    margin-left: 41.6666666667%;
  }
  [class^=gs-container] > .row > .xxl-offset-6 {
    margin-left: 50%;
  }
  [class^=gs-container] > .row > .xxl-offset-7 {
    margin-left: 58.3333333333%;
  }
  [class^=gs-container] > .row > .xxl-offset-8 {
    margin-left: 66.6666666667%;
  }
  [class^=gs-container] > .row > .xxl-offset-9 {
    margin-left: 75%;
  }
  [class^=gs-container] > .row > .xxl-offset-10 {
    margin-left: 83.3333333333%;
  }
  [class^=gs-container] > .row > .xxl-offset-11 {
    margin-left: 91.6666666667%;
  }
  [class^=gs-container] > .xxl-gutterX-0 {
    --gutters-x: 0;
  }
  [class^=gs-container] > .xxl-gutterX-1 {
    --gutters-x: 5px;
  }
  [class^=gs-container] > .xxl-gutterX-2 {
    --gutters-x: 10px;
  }
  [class^=gs-container] > .xxl-gutterX-3 {
    --gutters-x: 20px;
  }
  [class^=gs-container] > .xxl-gutterX-4 {
    --gutters-x: 30px;
  }
  [class^=gs-container] > .xxl-gutterX-5 {
    --gutters-x: 60px;
  }
  [class^=gs-container] > .xxl-gutterY-0 {
    --gutters-y: 0;
  }
  [class^=gs-container] > .xxl-gutterY-1 {
    --gutters-y: 5px;
  }
  [class^=gs-container] > .xxl-gutterY-2 {
    --gutters-y: 10px;
  }
  [class^=gs-container] > .xxl-gutterY-3 {
    --gutters-y: 20px;
  }
  [class^=gs-container] > .xxl-gutterY-4 {
    --gutters-y: 30px;
  }
  [class^=gs-container] > .xxl-gutterY-5 {
    --gutters-y: 60px;
  }
}

/*# sourceMappingURL=gridSystem.css.map */
