@charset "UTF-8";
html {
  font-family: "Poppins";
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  transition: transform 0.5s ease;
  display: inline-block;
}

a:hover {
  transform: scale(1.2);
  /* phóng to 30% */
}

.guides .cell-full-guidelines, .page-header .head-content .btn-more, .page-header .page-nav .account .btn-su {
  display: inline-block;
  min-width: 98px;
  padding: 18px 16px;
  border-radius: 12px;
  background: #0F1B4C;
  text-align: center;
}

.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  background-color: #E6F0FF;
  padding-top: 38px;
}
.page-header .page-nav {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.page-header .page-nav .mobile-menu-ico {
  display: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.page-header .page-nav .logo {
  margin-right: 50px;
}
.page-header .page-nav .navigator {
  display: flex;
  flex: 1;
  align-items: center;
}
.page-header .page-nav .navigator ul {
  display: flex;
}
.page-header .page-nav .navigator li {
  padding: 14px;
}
.page-header .page-nav .navigator li a {
  color: #4F5361;
  font-weight: 500;
}
.page-header .page-nav .account {
  margin-left: auto;
}
.page-header .page-nav .account .signIn-link {
  color: #0F1B4C;
  font-weight: 500;
  margin-right: 18px;
}
.page-header .page-nav .account .btn-su {
  padding: 13px 16px;
  color: #FFF;
  text-align: center;
  font-weight: 500;
}
.page-header .page-nav .mobile-user {
  display: none;
  width: 35px;
  height: 35px;
}
.page-header .head-content {
  position: relative;
}
.page-header .head-content * {
  width: 50%;
}
.page-header .head-content .sub-title {
  padding-top: 138px;
  margin-bottom: 8px;
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.018rem;
}
.page-header .head-content .title {
  color: #000336;
  font-size: 6.3rem;
  font-weight: 700;
  line-height: 7.6rem;
}
.page-header .head-content .desc {
  margin-top: 30px;
  margin-bottom: 40px;
  color: #5A6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-transform: lowercase;
}
.page-header .head-content .img-house {
  position: absolute;
  height: 100%;
  bottom: 0px;
  right: 0px;
}
.page-header .head-content .img-house img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.page-header .head-content .btn-more {
  width: 170px;
  height: 50px;
  color: #FFF;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 157px;
}

.clients {
  margin-top: 122px;
  padding-bottom: 40px;
}
.clients .content {
  position: relative;
}
.clients .desc .text {
  margin-top: 23px;
  color: #7D8589;
  font-weight: 500;
  line-height: 2rem;
}
.clients .desc:last-child {
  position: absolute;
  top: 0px;
  right: 0px;
}
.clients .desc:last-child .icon {
  display: block;
  margin-left: auto;
}
.clients .desc:last-child .text {
  margin-top: 30px;
}
.clients .clients-logo {
  display: flex;
  justify-content: space-between;
  height: 109px;
  /* căn giữa dọc */
  overflow-x: auto;
  /* hiện cuộn ngang khi tràn */
  overflow-y: hidden;
  /* ẩn cuộn dọc */
  flex-wrap: nowrap;
}
.clients .clients-logo img {
  width: 170px;
  object-fit: none;
  border-radius: 1.2rem;
  margin: 10px;
}
.clients .clients-logo img:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.guides {
  padding-top: 79px;
}
.guides .title {
  position: relative;
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 3.5rem;
}
.guides .title::before {
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 41px;
  height: 4px;
  border-radius: 1.2rem;
  background: #000339;
}
.guides .desc {
  max-width: 459px;
  color: #5A6473;
  text-align: center;
  margin: 20px auto 70px;
  font-weight: 400;
  line-height: 3rem;
  /* 187.5% */
}
.guides .items-guides {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  padding-bottom: 20px;
}
.guides .items-guides .item {
  min-width: 150px;
}
.guides .items-guides .ico-guide {
  display: block;
  margin: 0 auto 0;
}
.guides .items-guides .guide-name {
  color: #3B3C45;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.2rem;
  margin: 26px 0px 10px;
  /* 110% */
}
.guides .items-guides .link-guide {
  display: block;
  max-width: 0 auto 0;
  color: #0689FF;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}
.guides .cell-full-guidelines {
  width: 170px;
  height: 50px;
  display: block;
  margin: 30px auto 120px;
  color: #FFF;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}

.featured {
  background-color: #F5FAFE;
}
.featured .content {
  padding: 110px 0px;
}
.featured .title {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 3.5rem;
  /* 100% */
}
.featured .desc-view {
  display: flex;
  justify-content: space-between;
  margin: 11px 0px;
  flex-wrap: wrap;
}
.featured .desc-view .desc {
  white-space: nowrap;
  /* Không cho xuống hàng */
  overflow: hidden;
  /* Ẩn phần bị tràn */
  text-overflow: ellipsis;
  /* Hiện dấu ... */
}
.featured .desc-view .view-all {
  margin-top: auto;
  margin-bottom: auto;
}
.featured .desc {
  display: inline-block;
  color: #5A6473;
  font-weight: 400;
  line-height: 3rem;
  /* 187.5% */
}
.featured .view-all {
  display: inline-block;
  color: #0689FF;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 600;
}
.featured .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}
.featured .cards .card {
  min-width: 350px;
  height: auto;
  border-radius: 12px;
  background-color: #FFF;
  box-shadow: 0 65px 80px -46px rgba(226, 238, 249, 0.6);
  overflow: hidden;
}
.featured .cards .card .image {
  width: 100%;
  height: 227px;
  object-fit: cover;
  object-position: bottom;
  /* căn giữa ảnh */
}
.featured .cards .card .card-title {
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  /* 100% */
  margin: 17px 38px 11px 20px;
}
.featured .cards .card .card-desc {
  color: #A3A6AB;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 20px;
  margin-right: 38px;
}
.featured .cards .card .bed-both {
  display: flex;
  justify-content: space-between;
  margin: 23px 38px 23px 20px;
}
.featured .cards .card .bed-both .text {
  display: inline;
  margin-left: 8px;
  color: #4D4D52;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;
  /* 100% */
  letter-spacing: 0.014rem;
}

@media screen and (max-width: 991.9999px) {
  .page-header .page-nav .mobile-menu-ico {
    display: block;
  }
  .page-header .page-nav .mobile-menu-ico:hover ~ .navigator {
    transform: translateX(0px);
  }
  .page-header .page-nav .logo {
    margin-left: auto;
    margin-right: auto;
  }
  .page-header .page-nav .navigator {
    position: absolute;
    flex-direction: column;
    z-index: 1;
    width: 35%;
    top: 35px;
    left: 0;
    border-radius: 10px;
    background-color: rgb(201, 218, 246);
    transition: transform 0.5s ease;
    transform: translateX(calc(-100% - 24px));
  }
  .page-header .page-nav .navigator ul {
    flex-direction: column;
  }
  .page-header .page-nav .navigator:hover {
    transform: translateX(0px);
  }
  .page-header .page-nav .account {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    width: 0%;
    top: 35px;
    right: 0;
    border-radius: 10px;
    background-color: rgb(201, 218, 246);
    transition: width 0.5s ease;
  }
  .page-header .page-nav .account:has(+ .mobile-user:hover) {
    width: 30%;
  }
  .page-header .page-nav .account .btn-su,
  .page-header .page-nav .account .signIn-link {
    margin: 0;
    padding: 14px;
    text-align: center;
    background: transparent;
    color: #0F1B4C;
    font-weight: 500;
  }
  .page-header .page-nav .account:hover {
    width: 30%;
  }
  .page-header .page-nav .mobile-user {
    display: block;
  }
  .page-header .head-content * {
    width: 100%;
  }
  .page-header .head-content .sub-title {
    padding-top: 50px;
  }
  .page-header .head-content .title {
    font-size: 3.5rem;
    line-height: 5rem;
    margin-bottom: 25px;
  }
  .page-header .head-content .img-house {
    position: static;
  }
  .page-header .head-content .desc {
    margin-bottom: 30px;
  }
  .page-header .head-content .btn-more {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.9999px) {
  html {
    font-size: 62.5%;
  }
  .page-header .head-content .sub-title {
    padding-top: 70px;
  }
  .page-header .head-content .title {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .page-header .head-content .btn-more {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 767.9999px) {
  .clients .desc .text {
    margin-top: 10px;
  }
  .clients .desc:last-child {
    position: static;
    padding-top: 20px;
  }
  .clients .desc:last-child .icon {
    margin-left: 0;
  }
  .clients .desc:last-child .text {
    margin-top: 10px;
  }
  .featured .cards .card {
    min-width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
